<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>search</td><td>MakeMyTripSearchTest.validLoginCheck()[pri:1, instance:Exam.makemytrip.webtest.MakeMyTripSearchTest@4abdb505]<br/></td></tr>
</table>
