<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e2809c">  <td>17/11/09 16:15:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MakeMyTripSearchTest.openTheBrowser()[pri:0, instance:Exam.makemytrip.webtest.MakeMyTripSearchTest@4abdb505]">&gt;&gt;openTheBrowser</td> 
<td>&nbsp;</td>  <td>main@1956710488</td>   <td></td> </tr>
<tr bgcolor="e2809c">  <td>17/11/09 16:15:24</td>   <td>14620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MakeMyTripSearchTest.validLoginCheck()[pri:1, instance:Exam.makemytrip.webtest.MakeMyTripSearchTest@4abdb505]">validLoginCheck</td> 
  <td>main@1956710488</td>   <td></td> </tr>
<tr bgcolor="e2809c">  <td>17/11/09 16:16:14</td>   <td>65044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MakeMyTripSearchTest.catchExceptions(org.testng.ITestResult)[pri:0, instance:Exam.makemytrip.webtest.MakeMyTripSearchTest@4abdb505]">&lt;&lt;catchExceptions</td> 
<td>&nbsp;</td>  <td>main@1956710488</td>   <td></td> </tr>
</table>
